<div class="centered">
  <div class="row">
    <img class="logo" src="../../assets/logo-home.png">
  </div>

  <div class="row app-makers col-md-2 col-sm-4 col-xs-11  ">
    <span>BEM VINDO AO EMPRESAS</span>
  </div>

  <div class="row descricao col-md-2 col-sm-4 col-xs-11 ">
    <span>Lorem ipsum dolor sit amet, contetur adipiscing elit. Nunc accumsan.</span>
  </div>
  <div class="col-sm-5 col-md-3 col-xs-12">
    <div class="inner-addon left-addon linha">
      <i class="glyphicon glyphicon-envelope pink"></i>
      <input type="text"  id="usr" placeholder="E -mail" [(ngModel)]="email">
    </div>
      <div class="inner-addon left-addon linha">
        <i class="glyphicon glyphicon-lock pink"></i>
        <input type="password"  id="pass" placeholder="Senha" [(ngModel)]="password">
      </div>
  </div>
    <button class="col-md-2 col-xs-11 btn col-sm-2 btn-login" (click)="login()">
      <span *ngIf="!loading"> ENTRAR </span>
      <img *ngIf="loading"class="loading-gif" src="../../assets/45.gif">
    </button>
</div>
