.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  flex-direction: column;
}

.app-makers {
  font-size: 24px;
  text-align: center;
  font-weight: bold;
  padding-top: 30px;
}

.descricao {
  padding-top: 30px;
  text-align: center;
  font-size: 18px;
  letter-spacing: -0.3px;
}



.btn-login {
  background-color: #57bbbc;
  color: white;
  margin-top: 35px;
  font-weight: bold;
}


.loading-gif {
  height: 15px;
}



.linha {
  position: relative;
  border-bottom: solid 0.7px #383743;
}




