.white {
  background-color: white;
  margin: 15px 1px 0px 1px;
}

.white:hover {
  cursor:pointer;
}


.item {
  margin: 10px;
}


.name {
  font-size: 17px;
  font-weight: bold;
  color: #1a0e49;
  margin: 0px;
}

.gray {
  color: #8d8c8c;
  margin: 3px 0px 0px 0px;
}

.type {
  font-size: 13px;
}

.country {
  font-size: 10px;
}


.foto {
  height: 75px;
}

