
<!-- Show enterprises found -->

<div class="row white" *ngFor="let enterprise of enterprises" (click)="showEnterprise(enterprise.id)">
  <div class="media item">
    <div class="media-left">
      <img src="../../assets/img-e-1-lista.png" class="media-object foto">
    </div>
    <div class="media-body">
      <p class="media-heading name">{{enterprise.enterprise_name}}</p>
      <p class="gray">{{ enterprise.enterprise_type.enterprise_type_name}}</p>
      <p class="gray">{{ enterprise.country}}</p>
    </div>
  </div>
</div>
