
.name {
  font-size: 17px;
  font-weight: bold;
  color: #1a0e49;
  margin: 0px;
}

.gray {
  color: #8d8c8c;
  margin: 3px 0px 0px 0px;
}

.type {
  font-size: 13px;
}

.country {
  font-size: 10px;
}


.white {
  background-color: white;
  margin: 15px 1px 0px 1px;
}

.white:hover {
  cursor:pointer;
}



.info {
  text-align: left;
}

.item {
  margin: 10px;
}

.linha {
  margin-top: 100px;
}

.list {
  padding: 0 5px;
}

.foto {
  height: 75px;
}

.search-box {
  color: white;
  position: absolute;
  padding-bottom: 2px;
  padding: 0px;
  margin: 0px;


}

.inactive .search-box {
  width: 30px;
  right: 3%;
  -webkit-transition: width 0.3s; /* Safari */
  transition: width 0.3s;
}


.icon {
  position: absolute;
  font-size: 20px;
  cursor: pointer;
}


.cancel {
  right: 0;
}

.inactive .search-box > input {
  visibility: hidden;
  margin: 0px;

}

.inactive .logo-white {
  opacity: 1;

  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s; /* Firefox < 16 */
  -ms-animation: fadein 1s; /* Internet Explorer */
  -o-animation: fadein 1s; /* Opera < 12.1 */
  animation: fadein 1s;
}

.inactive .linha {
  border: none;
}

.active .search-box {
  width: 90%;
  -webkit-transition: width 0.3s; /* Safari */
  transition: width 0.3s;

}

.active .logo-white {
  opacity: 0;
}

.active .search-box > input {
  visibility: visible;
  margin: 0px;
  margin-bottom: 3px;
}


.active .linha {
  border-bottom: solid 0.7px white;
}


@keyframes fadein {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
@-moz-keyframes fadein { /* Firefox */
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
    opacity:0;
  }
  to {
    opacity: 1;
  }
}
