

<!-- Header -->
<div class="header gradient" [ngClass]="searching ? 'active' : 'inactive'">
  <img class="center logo-white" src="../../assets/logo-nav.png">
  <div class="search-box linha">
    <i class="glyphicon glyphicon-search icon" (click)="search()"></i>
    <i *ngIf="searching" class="glyphicon glyphicon-remove icon cancel" (click)="cancel()"></i>
      <input autofocus type="text" (keyup.enter)="pesquisar(value)" id="pass" placeholder="Pesquisar" ngFocus=""
             [(ngModel)]="value" >
  </div>
</div>


<div class="container list">
  <div *ngIf="dadosCarregados; then dadosEmpresas else nothingToShow"></div>
  <ng-template #dadosEmpresas>
    <app-enterprise-item [enterprises]="enterprises"></app-enterprise-item>
  </ng-template>

  <!--TODO show message if no enterprises were found-->
  <ng-template #nothingToShow>
    <div class="row" style="text-align: center; padding-top: 100px">
      <h3> Clique na busca para iniciar. </h3>
    </div>
  </ng-template>
</div>
