

<!-- Header -->
<div class="header gradient" [ngClass]="searching ? 'active' : 'inactive'">
  <img class="center logo-white" src="../../assets/logo-nav.png">
  <i class="glyphicon glyphicon-chevron-left back-button" routerLink="/empresas"></i>
</div>


<div class="container data">

<div *ngIf="dadosCarregados; then loadedData else loading"></div>

<ng-template #loading>
  <!--TODO loading gif-->
</ng-template>


  <!-- Where the image and description goes -->
<ng-template #loadedData>
  <div class="row">
    <div class="content">
      <img class="pic-details" src="../../../assets/enterprise-details/img-e-1-lista.png">
      <p class="description"> {{enterprise.description }}</p>
    </div>
  </div>
</ng-template>

</div>
