.data {
  padding-top: 15px;
}



.pic-details {
  width: 100%;
  height: 230px;
}

@media screen and (max-width: 480px) {
  .pic-details {
    height: 130px;
  }
}


.description {
  padding-top: 15px;
}


.row {
  background-color: white;
}

.content {
  padding: 15px;
}

.back-button {
  left: 15px;
  font-size: 25px;
  position: absolute;
  padding-top: 15px;
  cursor: pointer;
  color: white;
}
