/* You can add global styles to this file, and also import other style files */

body {
  background-color: #ebe9d7;
  font-family: 'Roboto', sans-serif;
}


input {
  padding-left: 35px;
  border: 0;
  outline: 0;
  background: transparent;
  margin-top: 30px;
  width: 100%;
}


.pink {
  color: #ee4c77;
  position: absolute;
  padding-top: 33px;
  padding-left: 10px;
}

.gradient {
  /* Gradiene gerado no colorzilla.com */
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ee4c77+0,ee4c77+50,cc416a+100 */
  background: rgb(238,76,119); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(238,76,119,1) 0%, rgba(238,76,119,1) 50%, rgba(204,65,106,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(238,76,119,1) 0%,rgba(238,76,119,1) 50%,rgba(204,65,106,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(238,76,119,1) 0%,rgba(238,76,119,1) 50%,rgba(204,65,106,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee4c77', endColorstr='#cc416a',GradientType=0 ); /* IE6-9 */
}

.logo-white {
  height: 25px;
}


.header {
  position: relative;
  display: flex;
  height: 60px;
  justify-content: center;
  align-items: center;
}


